<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.yzb.servlets.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test1</url-pattern>
    </servlet-mapping>
</web-app>