<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.yzb.servlets.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet2</servlet-name>
        <servlet-class>com.yzb.servlets.TestServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet3</servlet-name>
        <servlet-class>com.yzb.servlets.TestServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet1</servlet-name>
        <servlet-class>com.yzb.servlets.SessionServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet2</servlet-name>
        <servlet-class>com.yzb.servlets.SessionServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet3</servlet-name>
        <servlet-class>com.yzb.servlets.SessionServlet3</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet2</servlet-name>
        <url-pattern>/test2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet3</servlet-name>
        <url-pattern>/test3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet1</servlet-name>
        <url-pattern>/session1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet2</servlet-name>
        <url-pattern>/session2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet3</servlet-name>
        <url-pattern>/session3</url-pattern>
    </servlet-mapping>
</web-app>